@page "/"

@using System.Net.Mail
@using LI4.Negocio.Utilizadores
@using LI4.Apresentacao.Componentes

@namespace LI4.Apresentacao.Paginas

@inject UtilizadoresService UtilizadoresService
@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage ProtectedLocalStorage
@inject IJSRuntime JSRuntime

<main>
    <HeaderTitle>Iniciar Sessão</HeaderTitle>
    <form class="form" @onsubmit="Autenticar">
        <input id="email" class="form-control" placeholder="Endereço eletrónico" @bind="FormModel!.EnderecoEletronico"/>
        <input type="password" id="password" class="form-control" placeholder="Palavra passe" @bind="FormModel!.PalavraPasse"/>


        <a href="/Cliente/CriarConta"><button class="btn">Registar</button></a>
        <button type="submit" id="register" class="btn">Iniciar Sessão</button>
    </form>
</main>

@code {
    private class CredenciaisModel {
        public string EnderecoEletronico { get; set; } = "";
        public string PalavraPasse { get; set; } = "";
    }

    [SupplyParameterFromForm]
    private CredenciaisModel? FormModel { get; set; }

    private SessaoController? SessaoController { get; set; }

    protected override void OnInitialized()
    {
        FormModel ??= new CredenciaisModel();
        SessaoController = new SessaoController(UtilizadoresService, ProtectedLocalStorage, NavigationManager);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SessaoController!.RedirecionarConformeTipo(null);
        }
    }

    private async Task Autenticar()
    {
        if (FormModel!.EnderecoEletronico == "" || FormModel!.PalavraPasse == "")
        {
            (new Alert(JSRuntime)).Launch("Preencha o endereço eletrónico e a palavra passe");
            return;
        }

        try
        {
            new MailAddress(FormModel!.EnderecoEletronico);
        }
        catch (FormatException)
        {
            (new Alert(JSRuntime)).Launch("Endereço eletrónico inválido");
            return;
        }

        try
        {
            await SessaoController!.IniciarSessao(FormModel!.EnderecoEletronico, FormModel!.PalavraPasse);
            await SessaoController.RedirecionarConformeTipo(null);
        }
        catch (UtilizadorNaoEncontradoException)
        {
            (new Alert(JSRuntime)).Launch("Endereço eletrónico não encontrado");
            FormModel!.PalavraPasse = "";
        }
        catch (PalavraPasseIncorretaException)
        {
            (new Alert(JSRuntime)).Launch("Palavra passe incorreta");
            FormModel!.PalavraPasse = "";
        }
        catch (ImpedidoDeIniciarSessaoException)
        {
            (new Alert(JSRuntime)).Launch("Este utilizador foi eliminado");
            FormModel!.PalavraPasse = "";
        }
    }
}
