main {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Table styling */
.eva-warehouse {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.eva-warehouse th,
.eva-warehouse td {
    border-bottom: 2px solid #bbb;
    padding: 10px 15px;
    text-align: left;
}

/* Header styling */
.eva-warehouse th {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

/* Highlight hover */
.eva-warehouse tr:hover {
    background-color: #fafafa;
}

/* Value Head column styling */
.eva-warehouse th:last-child {
    text-align: right;
}

/* Value column styling */
.eva-warehouse td:last-child {
    text-align: right;
}

/* Table styling */
.eva-parts {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.eva-parts th,
.eva-parts td {
    padding: 10px 15px;
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid #bbb;
}

/* Header styling */
.eva-parts th {
    font-weight: bold;
    text-transform: uppercase;
}