@page "/GestorDeStock"

@using LI4.Apresentacao.Componentes
@using LI4.Negocio.Utilizadores
@using LI4.Apresentacao.Componentes

@namespace LI4.Apresentacao.Paginas.GestorDeStock

@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage ProtectedLocalStorage
@inject UtilizadoresService UtilizadoresService

<Autorizador TipoDeConta=@Utilizador.Tipo.GestorDeStock />

<main>
    <HeaderTitle>Olá, @NomeCivil!</HeaderTitle>
    <LinkButton Href="/GestorDeStock/EVAs" Title="Consultar EVAs"/>
    <LinkButton Href="/GestorDeStock/Armazem" Title="Consultar Armazém"/>
    <ActionButton Callback="@Logout" Title="Terminar Sessão"/>
</main>

@code
{
    private string NomeCivil { get; set; } = "";
    private SessaoController? SessaoController { get; set; }

    protected override void OnInitialized()
    {
        SessaoController = new SessaoController(UtilizadoresService, ProtectedLocalStorage, NavigationManager);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Utilizador? utilizador = await SessaoController!.ObterUtilizadorComSessaoIniciada();
            if (utilizador == null)
            {
                return;
            }

            NomeCivil = utilizador.NomeCivil;
            StateHasChanged();
        }
    }

    private async Task Logout() {
        await SessaoController!.TerminarSessao();
        NavigationManager.NavigateTo("/");
    }
}
