@page "/Administrador/CriarConta"

@using LI4.Apresentacao.Componentes
@using LI4.Negocio.Utilizadores

@inject NavigationManager NavigationManager
@inject UtilizadoresService UtilizadoresService

@namespace LI4.Apresentacao.Paginas.Administrador

<Autorizador TipoDeConta=@Utilizador.Tipo.Administrador />
<Alerta @bind-Mensagem=@MensagemAlerta />

<main>
    <HeaderTitle>Criar Conta</HeaderTitle>
    <form class="form" @onsubmit="Registar">
        <input id="name" class="form-control" placeholder="Nome civil" @bind="FormModel!.NomeCivil"/>
        <input id="email" class="form-control" placeholder="Endereço eletrónico" @bind="FormModel!.EnderecoEletronico"/>
        <input type="password" id="password" class="form-control" placeholder="Palavra passe" @bind="FormModel!.PalavraPasse"/>

        <select id="type" name="type" class="form-control" @bind="FormModel!.TipoDeConta">
            <option value="A" selected>Administrador</option>
            <option value="GS">Gestor de Stock</option>
            <option value="GP">Gestor de Produção</option>
            <option value="GC">Gestor de Contas</option>
        </select>

        <a href="/Administrador"><button class="btn">Cancelar</button></a>
        <button type="submit" id="register" class="btn">Criar Conta</button>
    </form>
</main>

@code
{
    private class ContaModel
    {
        public string NomeCivil { get; set; } = "";
        public string EnderecoEletronico { get; set; } = "";
        public string PalavraPasse { get; set; } = "";
        public string TipoDeConta { get; set; } = "A";
    }

    [SupplyParameterFromForm]
    private ContaModel? FormModel { get; set; }

    private string? MensagemAlerta { get; set; }

    protected override void OnInitialized()
    {
        FormModel ??= new ContaModel();
    }

    private void Registar()
    {
        try
        {
            Utilizador.Tipo tipo = Utilizador.TipoDeString(FormModel!.TipoDeConta);
            UtilizadoresService.RegistarUtilizador(FormModel!.EnderecoEletronico, FormModel!.NomeCivil, FormModel!.PalavraPasse, tipo);
            NavigationManager.NavigateTo("/Administrador");
        }
        catch (EnderecoEletronicoInvalidoException)
        {
            MensagemAlerta = "Endereço eletrónico inválido";
        }
        catch (UtilizadorExistenteException)
        {
            MensagemAlerta = "Endereço eletrónico já se encontra registado";
        }
    }
}
