@page "/Administrador"

@using LI4.Negocio.Utilizadores
@using LI4.Apresentacao.Componentes

@namespace LI4.Apresentacao.Paginas.Administrador

@inject UtilizadoresService UtilizadoresService
@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage ProtectedLocalStorage

<main>
    <HeaderTitle>Olá, @NomeCivil!</HeaderTitle>
    <LinkButton Href="/Administrador/CriarConta" Title="Registar Funcionário"/>
    <LinkButton Href="/Administrador/EliminarConta" Title="Eliminar Conta"/>
    <ActionButton Callback="@Logout" Title="Terminar Sessão"/>
</main>

@code {
    private String? NomeCivil { get; set; } = "";
    private SessaoController? SessaoController { get; set; }

    protected override void OnInitialized()
    {
        SessaoController = new SessaoController(UtilizadoresService, ProtectedLocalStorage, NavigationManager);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SessaoController!.RedirecionarConformeTipo(Utilizador.Tipo.Administrador);

            Utilizador? utilizador = await SessaoController!.GetUtilizadorComSessaoIniciada();
            if (utilizador == null)
            {
                return;
            }

            NomeCivil = utilizador.NomeCivil;
            StateHasChanged();
        }
    }

    private async Task Logout() {
        await SessaoController!.TerminarSessao();
        NavigationManager.NavigateTo("/");
    }
}
