@page "/GestorDeProducao"

@using LI4.Negocio.Utilizadores

@namespace LI4.Apresentacao.Paginas.GestorDeProducao

@inject UtilizadoresService UtilizadoresService
@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage ProtectedLocalStorage

Olá, @NomeCivil!

<a href="/GestorDeProducao/Encomendas">
    <button>Gerir Encomendas</button>
</a>

<a href="/GestorDeProducao/Simulacao">
    <button>Simulação Gráfica</button>
</a>

<a href="/GestorDeProducao/Armazem">
    <button>Ordenar Producao</button>
</a>

<button @onclick="Logout">Terminar Sessão</button>

@code {
    private String? NomeCivil { get; set; } = "";
    private SessaoController? SessaoController { get; set; }

    protected override void OnInitialized()
    {
        SessaoController = new SessaoController(UtilizadoresService, ProtectedLocalStorage, NavigationManager);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SessaoController!.RedirecionarConformeTipo(Utilizador.Tipo.GestorDeProducao);

            Utilizador? utilizador = await SessaoController!.GetUtilizadorComSessaoIniciada();
            if (utilizador == null)
            {
                return;
            }

            NomeCivil = utilizador.NomeCivil;
            StateHasChanged();
        }
    }

    private async Task Logout() {
        await SessaoController!.TerminarSessao();
        NavigationManager.NavigateTo("/");
    }
}
