@page "/GestorDeProducao"

@using LI4.Apresentacao.Componentes
@using LI4.Negocio
@using LI4.Negocio.Utilizadores

@namespace LI4.Apresentacao.Paginas.GestorDeProducao

@inject ICamadaNegocio CamadaNegocio
@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage ProtectedLocalStorage

<Autorizador TipoDeConta=@Utilizador.Tipo.GestorDeProducao />

<main>
    <HeaderTitle>Olá, @NomeCivil!</HeaderTitle>
    <LinkButton Href="/GestorDeProducao/Encomendas" Title="Gerir Encomendas"/>
    <LinkButton Href="/GestorDeProducao/Armazem" Title="Consultar Armazém"/>
    <LinkButton Href="/GestorDeProducao/Simulacao" Title="Simulação Gráfica"/>
    <ActionButton Callback="@Logout" Title="Terminar Sessão"/>
</main>

@code
{
    private string NomeCivil { get; set; } = "";
    private SessaoController? SessaoController { get; set; }

    protected override void OnInitialized()
    {
        SessaoController = new SessaoController(CamadaNegocio, ProtectedLocalStorage, NavigationManager);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Utilizador? utilizador = await SessaoController!.ObterUtilizadorComSessaoIniciada();
            if (utilizador == null)
            {
                return;
            }

            NomeCivil = utilizador.NomeCivil;
            StateHasChanged();
        }
    }

    private async Task Logout() {
        await SessaoController!.TerminarSessao();
        NavigationManager.NavigateTo("/");
    }
}
