main {
    font-family: Arial, sans-serif;
}

/* Animations: */

.place-animation-start {
    z-index: -1;
    padding-bottom: 35px;
    padding-left: 50px;
    grid-row-start: 1;
    grid-column-start: 1;
}

.animate {
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
    animation-name: slide;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes slide {
    33% {
        transform: translate(300px, 0);
        /* ----------------------- Simpler Cut ----------------------- */
        /* clip-path: polygon(1% 0%, 0% 0%, 100% 0%, 100% 23%, 0 23%); */
        clip-path: polygon(22.77% 5.3%, 60.39% 1.79%, 60.39% 10.02%, 54.46% 19.5%, 32.81% 21.2%);
    }
    66% {
        transform: translate(550px, 0);
        /* -------------------------- Simpler Cut --------------------------- */
        /* clip-path: polygon(1% 0%, 2% 0%, 0% 0%, 100% 0%, 100% 66%, 0 66%); */
        clip-path: polygon(0% 0%, 100% 0%, 100% 56.92%, 84.4% 60.63%, 80.58% 57.1%, 75.12% 57.03%,
                            69.66% 56.92%, 64.82% 54.46%, 58.08% 57.35%, 51.67% 51.43%,
                            44.71% 50.19%, 29.94% 57.6%, 0% 56.9%);
    }
    100% {
        transform: translate(800px, 0);
        /* --------------------- Simpler Cut --------------------- */
        /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */
        clip-path: polygon(0% 0%, 100% 0%, 100% 56.92%, 100% 79.93%, 100% 66.54%, 100% 100%,
                            0% 100%);
    }
}

.go-off-screen {
    animation-name: jump;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes jump {
    30%{
        transform: translate(0, -200px);
        opacity: 1;
    }
    100%{
        transform: translate(0, 300px);
        opacity: 0;
    }
}

/* Production Line: */

.graph {
    display: grid;
    justify-content: center;
    align-items: flex-end;
}

.base {
    z-index: -2;
    width: 1000px;
    height: 70px;
    border-radius: 5px;
    grid-row-start: 1;
    grid-column-start: 1;
}

.section {
    width: 60px;
    height: 375px;
    background-color: black;
    border-radius: 5px;
}

#section1 {
    z-index: 1;
    padding-left: 205px;
    grid-row-start: 1;
    grid-column-start: 1;
}

#section2 {
    z-index: 1;
    padding-left: 470px;
    grid-row-start: 1;
    grid-column-start: 1;
}

#section3 {
    z-index: 1;
    padding-left: 735px;
    grid-row-start: 1;
    grid-column-start: 1;
}

/* General: */

img {
    max-height: 300px;
}

p {
    position: relative;
    top: 40px;
    rotate: 90deg;
    font-size: larger;
    font-weight: bold;
    color: #fff;
}
