main {
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
}

.animate {
  animation-duration: 5s;
  animation-name: slide;
  animation-fill-mode: forwards;
}

@keyframes slide {
  30% {
    transform: translate(30%, 0);
  }
  60% {
    transform: translate(50%, 0);
  }
  100% {
    transform: translate(70%, 0);
  }
}

img {
    max-height: 300px;
}
