@page "/GestorDeProducao/Simulacao"

@using LI4.Apresentacao.Componentes
@using LI4.Negocio.Utilizadores
@using LI4.Negocio.Producao
@using LI4.Negocio

@namespace LI4.Apresentacao.Paginas.GestorDeStock

@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage ProtectedLocalStorage
@inject ProducaoService ProducaoService
@inject UtilizadoresService UtilizadoresService

<Autorizador TipoDeConta=@Utilizador.Tipo.GestorDeProducao />
<Alerta @bind-Mensagem=@MensagemAlerta />

@if (OrdemProducao != null)
{
<script>
    $(".animate").each(function(index){
        $(this).css({
            'animation-delay' : 2*(1+index) + 's'
        });
    });
</script>

<main>
    @foreach(EVA eva in EVAs)
    {
        <div class="center-change-this-name">
            <img class="animate" src="@eva.Imagem"/>
        </div>
    }

    <section class="graph">
        <div id="section1">
            <p>Cabeça</p>
            <div class="section"></div>
        </div>
        <div id="section2">
            <p>Braços</p>
            <div class="section"></div>
        </div>
        <div id="section3">
            <p>Pernas</p>
            <div class="section"></div>
        </div>
        <div id="base"></div>
    </section>
</main>
}

<main>
    <LinkButton Href="/GestorDeProducao" Title="Voltar"/>
</main>


@code
{
    private List<EVA> EVAs { get; set; } = new List<EVA>();
    private OrdemProducao? OrdemProducao { get; set; }
    private string? MensagemAlerta { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            SessaoController sessoes = new SessaoController(UtilizadoresService, ProtectedLocalStorage, NavigationManager);
            GestorDeProducao utilizador = (GestorDeProducao) (await sessoes.ObterUtilizadorComSessaoIniciada())!;

            OrdemProducao = utilizador.OrdensProducao.MaxBy(o => o.InstanteEmissao);
            if (OrdemProducao == null)
            {
                MensagemAlerta = "Sem ordens de produção para visualizar";
                StateHasChanged();
                return;
            }

            if (OrdemProducao!.Visualizada)
            {
                MensagemAlerta = "Última ordem de produção já foi visualizada";
                OrdemProducao = null;
                StateHasChanged();
                return;
            }

            foreach(KeyValuePair<EVA, int> pair in OrdemProducao.Conteudo)
            {
                for(int i = 0; i < pair.Value; i++)
                {
                    EVAs.Add(pair.Key);
                }
            }

            ProducaoService.RegistarOrdemProducaoComoVisualizada(OrdemProducao.Identificador!.Value);
            StateHasChanged();
        }
    }
}
