@page "/GestorProducao/ArmazemEVAs"

@using LI4.Apresentacao.Componentes

@namespace LI4.Apresentacao.Paginas.GestorProducao

<div class="container">
    <h1>Armazém de EVAs</h1>
    <div class="grid">
        @foreach (var item in ItensArmazem)
        {
            <div class="item">
                <div class="item-name">@item.Nome</div>
                <div class="item-details">Id: @item.Id<br />Stock: @item.Stock</div>
            </div>
        }
    </div>
    <div class="container">
        <LinkButton Href="/" />
    </div>
</div>

@code {
    private List<Item> ItensArmazem { get; set; } = new List<Item>
    {
        new Item { Nome = "EVA 1", Id = 10101011, Stock = 50 },
        new Item { Nome = "EVA 1", Id = 10101011, Stock = 50 },
        new Item { Nome = "EVA 1", Id = 10101011, Stock = 50 },
        new Item { Nome = "EVA 1", Id = 10101011, Stock = 50 },
        new Item { Nome = "EVA 1", Id = 10101011, Stock = 50 },
        new Item { Nome = "EVA 1", Id = 10101011, Stock = 50 },
        new Item { Nome = "EVA 1", Id = 10101011, Stock = 50 },
        new Item { Nome = "EVA 1", Id = 10101011, Stock = 50 },
        new Item { Nome = "EVA 1", Id = 10101011, Stock = 50 },
        new Item { Nome = "EVA 1", Id = 10101011, Stock = 50 },
    };

    private class Item
    {
        public string Nome { get; set; }= string.Empty;
        public int Id { get; set; }
        public int Stock { get; set; }
    }
}
