@*
Copyright 2025 Ana Cerqueira, Humberto Gomes, João Torres, José Lopes, José Matos

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*@

@page "/Cliente/CriarConta"

@using LI4.Apresentacao.Componentes
@using LI4.Negocio
@using LI4.Negocio.Utilizadores

@namespace LI4.Apresentacao.Paginas.Cliente

@inject ICamadaNegocio CamadaNegocio
@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage ProtectedLocalStorage

<Autorizador TipoDeConta=@null />
<Alerta @bind-Mensagem=@MensagemAlerta />

<main>
    <HeaderTitle>Criar Conta</HeaderTitle>
    <form class="form" @onsubmit="Registar">
        <input id="name" class="form-control" placeholder="Nome civil" @bind="FormModel!.NomeCivil"/>
        <input id="email" class="form-control" placeholder="Endereço eletrónico" @bind="FormModel!.EnderecoEletronico"/>
        <input type="password" id="password" class="form-control" placeholder="Palavra passe" @bind="FormModel!.PalavraPasse"/>


        <a href="/"><button class="btn">Cancelar</button></a>
        <button type="submit" id="register" class="btn">Continuar</button>
    </form>
</main>

@code
{
    private class ContaModel {
        public string NomeCivil { get; set; } = "";
        public string EnderecoEletronico { get; set; } = "";
        public string PalavraPasse { get; set; } = "";
    }

    [SupplyParameterFromForm]
    private ContaModel? FormModel { get; set; }
    private string? MensagemAlerta { get; set; }

    private SessaoController? SessaoController { get; set; }

    protected override void OnInitialized()
    {
        FormModel ??= new ContaModel();
        SessaoController = new SessaoController(CamadaNegocio, ProtectedLocalStorage, NavigationManager);
    }

    private async Task Registar()
    {
        try
        {
            CamadaNegocio.RegistarUtilizador(FormModel!.EnderecoEletronico, FormModel!.NomeCivil, FormModel!.PalavraPasse, Utilizador.Tipo.Cliente);
            await SessaoController!.IniciarSessao(FormModel!.EnderecoEletronico, FormModel!.PalavraPasse);
            await SessaoController!.RedirecionarConformeTipo(null);
        }
        catch (EnderecoEletronicoInvalidoException)
        {
            MensagemAlerta = "Endereço eletrónico inválido";
        }
        catch (UtilizadorExistenteException)
        {
            MensagemAlerta = "Endereço eletrónico já se encontra registado";
        }
    }
}
