<button class="general-button" style="@Style" @onclick="OnClick">
    @Text
</button>

<style>
    .general-button {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;
        
        color: #fff;
        background-color: #8b8b8b;
        border: none;
        border-radius: 5px;
        
        font-size: 18px;
        text-align: center;
        font-family: Arial, sans-serif;
        
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .general-button:hover {
        background-color: #535252;
    }
</style>

@code {
    [Parameter]
    public string Text { get; set; } = "Click Me"; // Texto exibido no botão

    [Parameter]
    public string Style { get; set; } = ""; // Estilos adicionais, como posição ou dimensões

    [Parameter]
    public EventCallback OnClick { get; set; } // Ação a ser executada ao clicar no botão

    private async Task HandleClick()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync(null); // Executa o callback definido
        }
    }
}
