@namespace LI4.Apresentacao.Componentes

<div class="counter">
    <button @onclick="Decrementar">-</button>
    <span>@Value</span>
    <button @onclick="Incrementar">+</button>
</div>

@code {
    [Parameter]  
    public int Value { get; set; }
    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    private void Incrementar(){
        Value++;
        ValueChanged.InvokeAsync(Value);
    }

    private void Decrementar(){
        if (Value > 0)
        {
            Value--;
            ValueChanged.InvokeAsync(Value);
        }
    }
}
